<template>
<main class="content container">
    <div class="content__top content__top--catalog">
      <h1 class="content__title">
        Каталог
      </h1>
      <div class="test">
        <ul>
          <li class="test__mass" v-for="item in test">
            {{ item }}
          </li>
        </ul>
      </div>
      <span class="content__info">
        152 товара
      </span>
    </div>

    <div class="content__catalog">
      <ProductFilter :price-from.sync="filterPriceFrom" :price-to.sync="filterPriceTo" :category-id.sync="filterCategoryId" :color.sync="filterColor"/>

      <section class="catalog">
    <ProductList :products="products"/>
    <BasePagination v-model="page" :count="countProduct" :per-page="productsPerPage"/>

  </section>

    </div>
  </main>


</template>

<script>
import products from './data/products';
import ProductList from './components/ProductList.vue';
import BasePagination from './components/BasePagination.vue';
import ProductFilter from './components/ProductFilter.vue';

export default {
  name: 'App',
  components: { ProductList, BasePagination, ProductFilter },
  data() {
    return {
      filterPriceFrom: 0,
      filterPriceTo: 0,
      filterCategoryId: 0,
      filterColor: null,

      page: 1,
      productsPerPage: 3,
    }
  },
  computed: {
    filteredProducts(){
      let filterProducts = products;

      if(this.filterPriceFrom > 0){
        filterProducts = filterProducts.filter(product => product.price > this.filterPriceFrom)
      }

      if(this.filterPriceTo > 0){
        filterProducts = filterProducts.filter(product => product.price < this.filterPriceTo)
      }

      if(this.filterCategoryId){
        filterProducts = filterProducts.filter(product => product.categoryId === this.filterCategoryId)
      }

      if(this.filterColor){
        filterProducts = filterProducts.filter(product => product.colorsItem.includes(this.filterColor))
      }

      return filterProducts;
    },

    products(){
      const offset = (this.page - 1) * this.productsPerPage;
      return this.filteredProducts.slice(offset, offset + this.productsPerPage);
    },
    countProduct(){
      return this.filteredProducts.length;
    }
  }
};
</script>
